<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/19396974_1168656746571563_437883255965119987_n.jpg">
    </div>
   
    {{>footer}}
</body>
</html>